* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f4f4;
  color: #222;
}

section {
  min-height: 100vh;
  padding: 80px 10%;
}

h1 {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

body.dark{

background:#111827;

color:white;
}

body.dark .navbar{

background:#1f2937;
}

body.dark .nav-links{

background:#1f2937;
}

body.dark a{

color:white;
}