#contact{

    padding:120px 8%;
}

.contact-container{

    display:grid;

    grid-template-columns:1fr 1.4fr;

    gap:50px;

    align-items:start;
}

.contact-info{

    display:flex;

    flex-direction:column;

    gap:25px;
}

.info-box{

    display:flex;

    align-items:center;

    gap:20px;

    padding:25px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:18px;

    transition:.3s;
}

.info-box:hover{

    transform:translateY(-6px);
}

.info-icon{

    width:60px;

    height:60px;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:18px;

    border-radius:50%;

    background:#2563eb;

    color:white;

    font-size:22px;
}

.info-box h3{

    color:white;

    margin-bottom:6px;
}

.info-box p{

    color:#cbd5e1;

    margin:0;
}

.contact-form{

    display:flex;

    flex-direction:column;

    gap:20px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:20px;

    padding:35px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:16px;

    border:none;

    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.08);

    color:white;

    font-size:16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{

    color:#cbd5e1;
}

.contact-form textarea{

    resize:none;
}

.contact-form button{

    padding:16px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.contact-form button:hover{

    background:#1d4ed8;

    transform:translateY(-4px);
}

@media(max-width:900px){

.contact-container{

grid-template-columns:1fr;
}

.contact-info{

margin-bottom:20px;
}
}