.github-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-bottom:50px;
}

.github-card{

background:white;

padding:30px;

text-align:center;

border-radius:18px;

box-shadow:var(--shadow-md);

transition:.3s;
}

.github-card:hover{

transform:translateY(-8px);
}

.github-card h2{

font-size:40px;

color:var(--primary);
}

.repo-list{

background:white;

padding:30px;

border-radius:20px;

box-shadow:var(--shadow-sm);

margin-bottom:40px;
}

.repo-list div{

padding:10px 0;
}

.github-btn{

display:inline-block;

padding:14px 30px;

background:var(--primary);

color:white;

border-radius:12px;

text-decoration:none;
}